# logs
######################
*.log

# db
######################
project.db

# gIt
######################
.git

# python cache
######################
__pycache__

# models migrations
######################
migrations 

# generated
#styles.css

# libs
#libs/*
