{% extends "base.html" %}

{% load bootstrap %}

{% block head-title %}
    New Slave
{% endblock %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-heading">
        New Slave
    </div>

    <div class="panel-body">

        <form action="{% url 'pawnshop:submit_handler' %}" method="POST">
            {% csrf_token  %}

            {{ form|bootstrap_horizontal }}
        
            <button class="btn btn-primary" id="save" type="submit">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                Save
            </button>   

        </form>
    </div>
</div>
{% endblock %}
